.App {
  text-align: center;
}

.button {
  border-style: none;
  background-color: #096b95;
  font-size: 1.3rem;
  color: white;
  padding: 0.7rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}

p {
  font-size: large;
}
